body {
	background: #D8D8D8;
	width: 75%;
	margin: 0 auto;
}
#cover-title {
	max-width: 100%;
	text-align: center;
	font-size:	3em;
	font-family: arial black; 
	font-variant: small-caps;
}
img {
	border: 15px solid black;
}
#title-image-source {
	font-style: italic;
}
table {
	margin: 20px;
	width: 400px;
	background: #CC33CC;
	border: 1px solid black;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
}
th {
	font-size: 1.5em;
	font-style: bold;
	padding: 5px;
	background: #404040;
	color: #D8D8D8;
}
tr{
	background: #D8D8D8;
}

a:link {
	color: darkred;
}
/* Can not see red text in my browser */

a:visited {
	color: blue;
}

.title {
	font-size: 2em;	
	font-style: bold;
	font-family: helvetica;
	text-decoration: underline;	
	width: 75%;
	color: #500000;
	background-color: lightblue;	
}
#competitor {
	margin-top: 4em;
	padding: 1em;
	font-size: 	1em;
	border: dashed 1px darkred;			
}